[defaults]
inventory: inventory
remote_user: cnorville
host_key_checking: false
roles_path: /etc/ansible/roles

[galaxy]
server_list = galaxy, automation_hub

[galaxy_server.galaxy]
url=https://galaxy.ansible.com
token=f836d8fe50167712bdee3ae7ab327ed32b6df97d

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJhZDUyMjdhMy1iY2ZkLTRjZjAtYTdiNi0zOTk4MzVhMDg1NjYifQ.eyJpYXQiOjE2ODM5MjQ2MDksImp0aSI6IjZiMWNiYmY2LWI3YjMtNGVlNi1hMjQ2LTMxMDM2Zjg3MzE4NSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpjbm9ydmlsbCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiNzUxNmQzZTItZWUzZC00OWViLWFkMmYtMzBmNDUwOWQ3OTc2Iiwic2Vzc2lvbl9zdGF0ZSI6ImNlMmY1MzJlLTE1NjgtNGYxMy04MThkLTU0ZDJkMTU0MjcxZiIsInNjb3BlIjoib3BlbmlkIGFwaS5pYW0uc2VydmljZV9hY2NvdW50cyBhcGkuaWFtLm9yZ2FuaXphdGlvbiBvZmZsaW5lX2FjY2VzcyIsInNpZCI6ImNlMmY1MzJlLTE1NjgtNGYxMy04MThkLTU0ZDJkMTU0MjcxZiJ9.WclvvXpSEGeCBunmQOkGrTthFuyLyju1Z4zEOkw9WTA
